

.hero .subheading{
   color: #0E57B5 !important;  
}
.hero h1{
    color:white !important;
}
.hero h2 {
    color:#212F3C !important;
}
.hero span{
    color:#0E58B8 !important;
}
.hero .btn-primary {
    color:white !important;
    background-color:#212F3C !important;
    border: #0E57B5 !important;
}
.hero .btn-primary:hover{
    color:white !important;
}
.navbar-brand{
    color:#0E58B8 !important;
}
.ftco-about{
    background-color: white !important;
}
.about-text{
    color:#0E58B8 !important;
}
.resume-wrap h2{
    font-size: 1.2em !important;
}
.resume-wrap p{
    font-size: 0.8em !important;
}
.navbar-brand img {
    width: 5em;
    height: auto;
}

#blog-section h3 {
    color:#0E58B8 !important;
}


@media (max-width: 767.98px) {
    
    .no-gutters .img{
        display: hidden !important;
    }
    .ftco-about ul.about-info li span:first-child{
        width: 90px;
    }
    .heading-section h2{
        margin-top: 0.4em !important;
    } 
    
}